/*
Furesø Kommune
Kommuneplan 2021 
VIDI stylesheet
Forfatter: tha1
 */

#find-me-btn, #base-layers-btn, #burger-btn, .embed-about, .embed-session, #mapcontrols-history-backward, #mapcontrols-history-forward {
  display:none !important;
}

/* Skjuler filterknapper */
.filter-functions, .btn-group.btn-group-justified {
  display: none !important;
}

/* Skjuler luk lag-træ-knappen */
#layer-slide .modal-header button {
    visibility: hidden;
}


