/*
Furesø Kommune
Kommuneplan 2021 
VIDI stylesheet
Forfatter: tha1
 */

/* Ny Vidi */
.btn-close, .history-control, .leaflet-control-locate, .leaflet-control-measurements, .leaflet-control-custom:not(.full-screen-btn) {
  display:none !important;
}

.navbar-brand, #offcanvasLayerControlBtn, .sign-in-btn, .about-btn {
  display:none !important;
}



