.gc2-edit-tools, nav, .leaflet-control-locate, .btn.btn-outline-secondary {
  display: none !important;
}

#offcanvas-edit-bottom {
  height: 35vh !important;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

:root {
  --bs-body-font-family: Montserrat, sans-serif;
}
