#offcanvas-edit-bottom {
  height: 35vh !important;
}

/* Ny Vidi */
.offcanvas-header, .leaflet-control-simpleMapScreenshoter, .place-search, #edit-tool-group, .navbar-tool-btn {
  display:none !important;
}
.leaflet-top {
  top: 0 !important
}
