.gc2-edit-tools, #offcanvasLayerControlAltBtn, #btn-show-legend-in-map, .leaflet-control-locate {
  display: none !important;
}

#tail {
  display: inline !important;
}
#tail::before {
  content: "Klik i kortet og indberet din idé";
}

#offcanvas-edit-bottom {
  height: 35vh !important;
}
