/*
Furesø Kommune 
VIDI stylesheet
Forfatter: jkh5
 */

/* Ny Vidi */
.history-control, .leaflet-control-locate, .leaflet-control-measurements, .leaflet-control-custom:not(.baselayer-toggle, .full-screen-btn), .history-control, .offcanvas-header {
  display:none !important;
}

.navbar-brand, #offcanvasLayerControlBtn, .sign-in-btn, .about-btn {
  display:none !important;
}
