/* Specificerer font-størrelse, -type og -farve for kolonneoverskrifterne i tabellen*/
#vector-side-table * {
    font-size: 17.6px !important;
    font-family: Assistant,sans-serif !important;
    color: #323232 !important;
}
/* Specificerer fontens "boldness" for værdierne i tabellen*/
#vector-side-table td {
    font-weight: 400 !important;
}
/* Specificerer fontens "boldness" for kolonneoverskrifterne*/
#vector-side-table th {
    font-weight: 700 !important;
    width: 50%;
}
