/*
Furesø Kommune
Kommuneplan 2021 
VIDI stylesheet
Forfatter: tha1
 */

/* Skjuler knapper i menu*/
#find-me-btn, #base-layers-btn, #burger-btn, .embed-about, .embed-session, #mapcontrols-history-backward, #mapcontrols-history-forward {
  display:none !important;
}

/* Ny Vidi */
.history-control, .leaflet-control-locate, .leaflet-control-measurements, .leaflet-control-custom, .history-control, .offcanvas-header {
  display:none !important;
}

.navbar-brand, #offcanvasLayerControlBtn, .sign-in-btn, .about-btn {
  display:none !important;
}

.leaflet-top {
    top: 0 !important;
}
